@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 1px;
}


body{
    display: grid;
    place-items: center;
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    padding: 100px;
    padding-left: 100px;
    
}

.container{
    background-color:  hsl(213, 19%, 18%);
    display: grid;
    place-items: center;
    border-radius: 20px;
    padding: 10px;
    
}

.container h1 {
    color: white;
    font-family: 'Overpass', sans-serif;
}

.container p {
    color:  hsl(216, 12%, 54%);
}
.state-start{
margin-left: 10px;
display: block;
}

.numbers{
    padding: 10px;
}



.container ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* remove padding and margin for desktop version. add flex wrap for the previous one*/
.numbers ul li button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    padding: 12px;
    margin-left: 5px;
    background-color: hsl(213, 20%, 22%);
    color: white;
}

.numbers ul li button:hover{
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
}
.numbers ul li button:focus{
    background-color: hsl(217, 12%, 63%);
}

/*.numbers #one {
    background-color: white;
    width: 15pt;
    border-radius: 60%;
    padding: 12px;
    margin-left: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numbers #two {
    background-color: white;
    width: 15pt;
    border-radius: 60%;
    padding: 12px;
    margin-left: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numbers #three {
    background-color: white;
    width: 15pt;
    border-radius: 60%;
    padding: 12px;
    margin-left: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numbers #four {
    background-color: white;
    width: 15pt;
    border-radius: 60%;
    padding: 12px;
    margin-left: 10px ;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.numbers #five {
    background-color: white;
    width: 15pt;
    border-radius: 60%;
    padding: 12px;
    margin-left: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}*/





.btn:hover {
    cursor: pointer;
    background-color: white;
    transition: 0.3s ease-in;
    color: hsl(25, 97%, 53%);
}

.hide{
    display: none;
}
.thanks-start {
    margin-left: 10px;
    
}

.thanks-start img{
    display: grid;
    margin: auto;
}

.thanks-start h2 {
    color: white;
    padding: 10px;
    display: flex;
   justify-content: center;
}
.thanks-start p {
    font-family: 'Overpass', sans-serif;
    display: flex;
   justify-content: center;
}

.thanks-start .p-span {
    color: hsl(25, 97%, 53%);
    padding-top: 10px;
   display: flex;
   justify-content: center;

}

.active-state{
    background-color: red;
}
img {
    background-color: hsl(213, 20%, 22%);
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.error{
    display: none;
}
.btn {
    background-color: hsl(25, 97%, 53%);
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 0.4rem 0 0.8rem;
    border-radius: 30px;
    width: 100%;
    height: 5vh;
    letter-spacing: 1.5px;
    border: none;
}

footer{
    color: hsl(216, 12%, 54%);
    flex-direction: row;
}




















footer { 
    font-family: 'Overpass', sans-serif;
    font-size: 12px; 
    text-align: center; 
}
footer a { 
    color: hsl(228, 45%, 44%); 
}